.tenant-container {
  padding: 1rem 3rem 1rem;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  column-gap: 20px;
  .main-video {
    border-radius: 8px;
    position: relative;
     .live-label {
      position: absolute;
      top: 2%;
      left: 1%;
      display: inline-flex;
      align-items: center;
      column-gap: 5px;
      justify-content: center;
      background-color: red;
      box-shadow: 0 5px 8px 0 rgba(26, 7, 7, 0.37);
      padding: 3px 7px;
      .live-dot {
        height: 8px;
        width: 8px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white,
          0 0 40px white;
        animation: neonPulse 0.5s infinite alternate;
      }
      .live-text {
        font-weight: 500;
      }
    }
    &-description {
      // margin-top: 1%;
      padding: 15px;
      max-height: 80vh;
      background-color: #28292a;
      box-shadow: 0 5px 15px 0 rgba(45, 45, 47, 0.37);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      // background-color: #161f2fbf;
      // border: 2px solid rgb(47, 47, 49);
      // box-shadow: 0 5px 15px 0 rgba(35, 34, 34, 0.37);
      // backdrop-filter: blur(12px);
      // -webkit-backdrop-filter: blur(12px);
      border-radius: 8px;
      margin-bottom: 2%;
      .time {
        opacity: 0.7;
      }
      .desc {
        max-height: 75vh;
        margin-top: 5%;
        overflow: hidden;
        // text-align: justify;
        // &.clamp {
        //   display: -webkit-box;
        //   -webkit-line-clamp: 2;
        //   line-clamp: 2;
        //   -webkit-box-orient: vertical;
        // }
        // &.expanded {
        //   max-height: 100%;
        // }
      }
    }
    h2 {
      margin-top: 1%;
      font-size: 2rem;
      line-height: 2.8rem;
      font-weight: 700;
    }
    .name {
      opacity: 0.7;
    }
    .thumbnail-video {
      //  height: 100%;
      object-fit: cover;
      height: 75vh;
      width: 100%;
      transition: transform 0.5s ease;
    }
    .image-video {
      height: 75vh;
      width: 100%;
      cursor: pointer;
      aspect-ratio: 16/9;
      overflow: hidden;
      position: relative;
      .play-button-container {
        cursor: pointer;
        display: none;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 50%;
        opacity: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        padding: 10px 6px 10px 10px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        transition: opacity 1s ease;
        .play-button {
          height: 20px;
        }
      }
      .thumbnail-image {
        height: 100%;
        object-fit: cover;
        width: 100%;
        transition: transform 0.5s ease;
      }

      &:hover {
        .play-button-container {
          display: flex;
          opacity: 0.8;
        }
        .thumbnail-image {
          transform: scale(1.1);
        }
      }
    }
  }
}
.related-videos-container {
  margin-top: 3%;
  padding: 1rem 3rem 1rem;
  h2 {
    margin-bottom: 2%;
  }
  .video-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    .live-label {
      position: absolute;
      top: 2%;
      left: 1%;
      display: inline-flex;
      align-items: center;
      column-gap: 5px;
      justify-content: center;
      background-color: red;
      box-shadow: 0 5px 8px 0 rgba(26, 7, 7, 0.37);
      padding: 3px 7px;
      .live-dot {
        height: 8px;
        width: 8px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white,
          0 0 40px white;
        animation: neonPulse 0.5s infinite alternate;
      }
      .live-text {
        font-weight: 500;
      }
    }
    .related-video {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      // background-color: #161f2fbf;
      box-shadow: 0 15px 55px 0 rgba(45, 45, 47, 0.37);
      min-height: 120px;
      border: 2px solid rgb(47, 47, 49);
      border-radius: 8px;
      .details {
        padding: 5px 0 10px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .html-description p {
          margin-top: 1%;
          opacity: 0.7;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-weight: 100;
        }
        p.time {
          margin-top: 2%;
          opacity: 0.3;
          font-size: 12px;
        }
      }
      .image-container {
        height: 160px;
        aspect-ratio: 16/9;
        width: 100%;
        overflow: hidden;
        .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px 8px 0 0;
        }
      }
      .play-button-container {
        cursor: pointer;
        display: none;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 35%;
        opacity: 0;
        left: 50%;
        transform: translate(-35%, -50%);
        background-color: black;
        padding: 10px 6px 10px 10px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        transition: opacity 1s ease;
        .play-button {
          height: 20px;
        }
      }
      &:hover {
        .play-button-container {
          display: flex;
          opacity: 0.8;
        }
        .image {
          transform: scale(1.1);
        }
      }
    }
    .no-videos {
      p {
        opacity: 0.7;
        font-weight: 300;
      }
    }
  }
}
.live-now-text{
  display: flex; 
  align-items: center; 
  gap:5px;
  margin-top: 1%;
  img{
    margin-top: 2%;
  }
}