.thumbnail {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  padding: 0 3rem 1rem;
  .card {
    position: relative;
    overflow: hidden;
    box-shadow: 0 .3em 1em 0 rgba(45, 45, 47, 0.37);
    backdrop-filter: blur(.8em);
    -webkit-backdrop-filter: blur(.8em);
    border-radius: .6em;
    box-shadow: 0 1em 3.5em 0 rgba(45, 45, 47, 0.37);
    border: 1px solid #2f2f31a6;
    border-radius: .5em;
  }
}
p.time {
  margin-top: 2%;
  opacity: 0.3;
  font-size: .75em;
}
.search-result{
  h2{
    padding: 1rem 3rem 1rem;
    font-weight: 300;
  }
}