.navbar {
  position: sticky;
  top: 0;
  right: 0;
  padding: 1em 3em;
  height: 3em;
  z-index: 9999;
  backdrop-filter: blur(1em) saturate(180%);
  -webkit-backdrop-filter: blur(1em) saturate(180%);
  background-color: #000000d7;
  &-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-wrapper {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &-left {
      display: flex;
      column-gap: 1em;
      align-items: center;
      .main-logo {
        img {
          height: 2.5em;
        }
        h2{
          font-size: 1.5em;
          font-weight: 500;
        }
        display: flex;
        align-items: center;
        column-gap: 0.5em;
        cursor: pointer;
      }
    }
    .tenant-logo {
      height: 3em;
    }
  }
}
@media screen and (max-width: 1350) {
  .tenant-logo {
    height: 2em;
  }
  .navbar-elements-left{
 .main-logo {
        img {
          height: 2em;
        }}
  }
 
}
