.play-button-container {
  cursor: pointer;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: .625em .325em .625em .625em;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  transition: opacity 1s ease;
  .play-button {
    height: 1.25em;
  }
}